<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Aurora</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>

  <!-- Custom styles -->
  <link href="/css/common.css" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>
<body>

<div th:replace="common :: navigation (activeItem='')"></div>

<div class="container">
  <div class="list-group">
    <a href="files" class="list-group-item">
      <h4 class="list-group-item-heading">Files</h4>
      <p class="list-group-item-text">Upload files.</p>
    </a>
    <a href="weather" class="list-group-item">
      <h4 class="list-group-item-heading">Weather</h4>
      <p class="list-group-item-text">Set weather information.</p>
    </a>
    <a href="message" class="list-group-item">
      <h4 class="list-group-item-heading">Message</h4>
      <p class="list-group-item-text">Display scrolling text messages.</p>
    </a>
    <a href="audiopattern" class="list-group-item">
      <h4 class="list-group-item-heading">Audio Pattern</h4>
      <p class="list-group-item-text">Choose an audio pattern to display.</p>
    </a>
    <a href="pattern" class="list-group-item">
      <h4 class="list-group-item-heading">Pattern</h4>
      <p class="list-group-item-text">Choose a dynamic pattern to display.</p>
    </a>
    <a href="animation" class="list-group-item">
      <h4 class="list-group-item-heading">Animation</h4>
      <p class="list-group-item-text">Choose an animation to display.</p>
    </a>
    <a href="palette" class="list-group-item">
      <h4 class="list-group-item-heading">Palette</h4>
      <p class="list-group-item-text">Choose a color palette for patterns.</p>
    </a>
  </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</body>
</html>
